.details{
    margin-top:6% ;
    height: 75vh;
    margin-left: 10%;
}

.about_the_human{
    width: 30%;
    height: 100%;
}

.card-footer{
    border: none;
    background-color: transparent;
    padding: 10px;
}.info__social-link{
    transition: 0.3s all ease-in-out;
}
.info__social-link:hover{

    cursor: pointer;
    transform: translateY(-5px);

}
.card{
    border: none;
    background-color: transparent;
}
.card-img-top{
    border: none;
}
.card-body{
   padding: 10px 10px;
}
.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    /* background-color: green; */
    backdrop-filter: blur(10px); /* Blur effect */
    z-index: 999;
}

.ss{
    width: 100%;
    height: 650px;
    background-color:  rgba(247,247,253,255);
    overflow-y: scroll;
}
.ss::-webkit-scrollbar{
    display: none !important;
    scrollbar-width: 0;
}